
  
  .button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .operatorButton, .numberButton, .specialButton {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    border-color: beige;
 }

  .operatorButton {
    background-color: #ff9966;
  }
  
  .numberButton {
    background-color: #66ccff;
  }
  
  .specialButton {
    background-color: #66ff99;
  }
  