
.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: auto;
    grid-row-gap: 10px; 
  }
.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #a0acc0fc; 
}
  .body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0;  
  }